#cloud-config
hostname: ${hostname}
preserve_hostname: False
manage_etc_hosts: localhost

ssh_pwauth: True
password: hello
chpasswd:
  expire: False

write_files:
  - path: /tmp/coder_agent.sh
    encoding: b64
    content: ${coder_agent_script}
    permissions: "0777"

  - path: /tmp/coder_agent_token
    content: ${coder_agent_token}
    permissions: "0744"

runcmd:
  - sh -c "CODER_AGENT_TOKEN_FILE=/tmp/coder_agent_token /tmp/coder_agent.sh"

# this is a workaround needed for "write_files" and "runcmd" to run on every boot
cloud_final_modules:
 - [write_files, always]
 - [scripts-user, always]

# logs
# output: {all: '| tee -a /var/log/cloud-init-output.log'}